<form action="/login" method="POST">
    <div>
        <label for="">Username</label>
        <input type="text" name="username" placeholder="Username">
    </div>
    <div>
        <label for="">Password</label>
        <input type="password" name="password" placeholder="Password">
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
<br>
Don't have an Acount? <a href="/register">Register Now</a>